body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

* {
    color: var(--text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title {
    animation: dropdown 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0s;
    font-size: max(2vw, 100px);
}

#description {
    animation: description 0.8s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.8s;
}

@keyframes dropdown {
    from {
        transform: translateY(-50vh);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        transform: translateY(0);
    }

    53% {
        transform: translateY(0) scale(1.1, 0.8);
    }

    60% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-60px) scale(0.8, 1.1);   
    }

    90% {
        transform: scale(1);   
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes description {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}